/*
		** The images used were downloaded from: http://www.videogamesprites.net/SuperMarioBros1/ **
*/

html, body{
    font-family: 'Press Start 2P', cursive;
    height: 100%;
    width: 100%;
    overflow:hidden;
    margin: 0;
    padding: 0;
}
h3 {
    text-align: center;
}

.sky, .ground{
    position: relative; /*Because we want to position items on and in them!*/
}

.sky{
    height: 90%;
    background-color: #548CFF;
}
.ground{
    height: 10%;
    background-color: #C84C0C;
    background-image: url('https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/groundblock.png');

}

.scorebar{
    position: absolute;
    height: 120px;
    width:100%;

    font-family: 'Press Start 2P', cursive;
    font-size: 180%;
    color: white;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    line-height: 0.2;
}
.cloud{
    position: absolute;
    height: 100px;

}
.cloud:nth-child(2){
    top: 120px;
    -webkit-animation: wind 80s both infinite linear reverse;
    animation: wind 80s both infinite linear reverse;
}
.cloud:nth-child(3){
    top: 280px;
    -webkit-animation: wind 50s both infinite linear reverse;
    animation: wind 50s both infinite linear reverse;
}
.cloud:nth-child(4){
    top: 450px;
    -webkit-animation: wind 30s both infinite linear reverse;
    animation: wind 30s both infinite linear reverse;
}

.skyblocks{
    position: absolute;
    top: -250px;
}
.brick{
    position: fixed;
    margin: -2px;
}
.brick:nth-child(1){
    left:1100px;
}
.brick:nth-child(2){
    left:1170px;
}
.brick:nth-child(3){
    left:1240px;
}
.brick:nth-child(4){
    left:1310px;
}




.bush{
    position: absolute;
    top:-70px;
}
.bush:nth-child(1){
    left: 150px;
}
.bush:nth-child(2){
    left: 900px;;
}
.bush:nth-child(3){
    left: 1500px;;
}

.mario{
    position: absolute;
    width: 71px;
    height: 72px;
    background: url('https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/mariowalking/result.png') left center;
    top:-70px;
    left:0px;

    -webkit-animation: play 0.8s steps(4) infinite,
    run 7s both infinite linear;

    animation: play 0.8s steps(4) infinite,
    run 7s both infinite linear;
}
@-webkit-keyframes play{
    100%{background-position: -284px;}
}
@keyframes play{
    100%{background-position: -284px;}
}
@-webkit-keyframes run{
    from{left: -200px;}
    to{left: 100%;}
}
@keyframes run{
    from{left: -200px;}
    to{left: 100%;}
}
@-webkit-keyframes wind{
    from{left: -300px;}
    to{left: 100%;}
}
@keyframes wind{
    from{left: -300px;}
    to{left: 100%;}
}




