<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/errors.css">
    <title>Erreur 500</title>
</head>
<body>
<div id="errorDiv">
<span>ERREUR 500 - Internal Server Error</span>
</div>
<div id="JackDiv">
    <img src="https://globalgeeknews.com/wp-content/uploads/2011/12/Server-Room-Cable-Hell.jpg" alt="serverRoom">
</div>
    
</body>
</html>